@font-face {
	font-family: gotham;
	src: url(logo_font.ttf);
}
@font-face {
	font-family: manrope;
	src: url(manrope.ttf);
}


/* UNIVERSAL */

.btn {
	border-radius: 90px;
	border-width: 2px;
	font-family: manrope;
	font-weight: bold;
}

.para {
	font-size: 1.2em;
	color: grey;
	border-left-width: 2px;
	border-left-color: #3498db;
	border-left-style: solid;
	padding-left: 1em;
}

.spacing {
	margin: 1em 0em;
}

.box {
	margin-bottom: 4em;
}

li {
	font-size: 1.2em;
	color: grey;
}



/* NAVBAR */
.my-nav {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;;
	box-shadow: 0px 4px 10px lightgrey;
	background-color: white;
	
}

.logo {
	font-family: gotham;
	font-weight: bold;
	font-size: 1.4em;
	color:black;
	padding: 0.4em 0em;
}

.menu {
	font-family: manrope;
}


.menu > a {
	margin: 0em 1em;
	color: grey;
}

.my-active {
	color: #3498db;
	font-weight: bold;
}


.my-hidden {
	text-align: right;
	list-style-type: none;
}

.my-hidden a{
	font-family: manrope;
}

.hide {
	display: none;
}

#mobile {
	font-size: 1.2em;
}



/* BANNER */




/* FEATURES */
.feat {
	border-radius: 16px;
	border: 2px solid lightgrey;
	font-family: manrope;
	color: grey;
	padding: 1em;
	width: 20em;
	margin: 1em;
}

.feat i {
	color: #3498db;
	font-size: 6em;
	margin: 0.1em 0em;
}

h3 {
	font-weight: bold;
}


/*SCREENS*/
@media screen and (min-width: 35.5em) {
	#mobile {
		display: block;
	}
	
}

@media screen and (min-width: 56em) {
	#mobile {
		display: none;
	}
}